---
---

.site-title-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  padding: 0.5rem 0 0.5rem 0;
}

.site-title-logo {
  width: 8rem;
  height: 8rem;
  margin: 1rem;
  border-radius: 0.5rem;
  display: inline-block;
}

.site-title-separator {
  min-width: 100%;
  max-height: fit-content;
  border: 0.1rem solid #a5a5a5;
}

.site-nav {
  float: left;
}

.funny-page-link {
  font-size: 1rem;

  &:visited {
    color: white;
  }

  &:hover {
    text-decoration: underline;
    background: linear-gradient(90deg in hsl longer hue, red 0 50%, red 0 50%) 0/200%;
    color: transparent;
    background-clip: text;
    animation: rainbow-gradient 6s linear infinite;
  }
}

@keyframes rainbow-gradient {
  to {
    background-position: 100%
  }
}

.home-page-link {
  font-size: 1.6rem;
}

.home-page-link-desc {
  font-size: 1.4rem;
}

.footer-made-with {
  text-align: center;

}
.footer-made-with-text {
  /*  background: rgba(215,215,215,1);
    border: 0.2rem solid rgba(215,215,215,1);*/
  padding: 0.5rem;
}

.footer-made-with-text > .svg-icon { width: 20px; height: 20px; display: inline-block; fill: #828282; padding-right: 0; vertical-align: center; }